<div class="mt-5">
    <h1 class="text-center text-white"><%= @album.name %></h1>
    <p class="text-center text-white"><%= @album.description %></p>
</div>


<%= link_to "Back", root_path, class: "btn btn-primary"%>